{% extends 'layout.html' %}
{% block content %}
{% if title %}
    <h3> {{ title }} </h3>
{% endif %}
<form action="" method="post">
    <div>
        <label for="title">제목</label>
        <div>
            <input type="text" name="title" id="title"></input>
        </div>
    </div>

    <div>
        <label for = "content">내용</label><br>
        <textarea type="text" name="content" id="content"></textarea>
    </div>
    <div>
        <button type="submit">등록</button>
    </div>
</form>
{% endblock %}
