<header>
    {% if user %}
    <a> Hello <b>{{ user }}</b></a>
    <a href="{{ url_for('logout') }}"> 로그아웃 </a>
    {% else %}
    <a href="{{ url_for('login') }}">로그인</a>
    <a href="{{ url_for('register') }}">회원가입</a>
    {% endif %}
    <hr>
</header>
<div>
    <b style="margin-left: 40px"> {{ post.title }} </b><hr>
    <ul style="display: flex; justify-content: space-between">
        <li style="font-size: 13px; display: flex"><a> {{ post.created_at }} </a></li>
        <li style="font-size: 13px; display: flex; margin-right: 50px"><a> {{ post.writer }} </a> </li>
    </ul><hr>
    <p style="font-size: 15px;"> {{ post.content }} </p>
    <br>

    <ul style="display: flex; justify-content: space-between">
        <li style="display: flex"><a href="{{ url_for('edit', uuid=post.uuid) }}"> 수정하기 </a></li>
        <li style="display: flex; margin-right: 50px"><a href="{{ url_for('index') }}"> 목록으로 </a></li>
    </ul>

    <hr>
    <a> 이전글 : </a>
    {% if Next != None %}
        <a href="{{ url_for('viewpost', uuid=Next.uuid) }}"> {{ Next.title }} </a>
    {% else %}
        <b> 다음 게시물이 없습니다. </b>
    {% endif %}

    <hr>
    <a> 다음글 : </a>
    {% if Previous != None %}
        <a href="{{ url_for('viewpost', uuid=Previous.uuid) }}"> {{ Previous.title }} </a>
    {% else %}
        <b> 이전 게시물이 없습니다. </b>
    {% endif %}
    <hr>
</div>