<head>
    <div>
    {% if user %}
    <ul style="display: flex; list-style: none; padding-left: 0px; justify-content: space-between">
        <li>
            <a> 안녕하세요 <b>{{ user }}</b> 님</a>
        </li>
        <li style="display: flex">
            <a href="{{ url_for('logout') }}" style="text-decoration: none; color: black"> 로그아웃 </a>
            <a href="{{ url_for('delete_account') }}" style="text-decoration: none; color: black; margin-left: 10px"> 계정 삭제 </a>
        </li>
    </ul>
    {% else %}
    <ul style="display: flex; list-style: none; padding-left: 0px; justify-content: space-between">
        <li style="display: flex"> 로그인이 필요합니다 </li>
        <li style="display: flex">
            <a href="{{ url_for('login') }}" style="text-decoration: none; color: black"> 로그인 </a>
            <a href="{{ url_for('register') }}" style="text-decoration: none; color: black; margin-left: 10px"> 회원가입 </a>
        </li>
    </ul>
    {% endif %}
    </div>
</head>
<body style="margin-left: 8%; margin-right: 8%">
{% block content %}{% endblock %}
</body>