<html>
    <head> <title>Login</title> </head>
<body>
<div class="container">
    <div class="row mt-5">
        <h1>로그인</h1>
    </div>

    <div>
        <form method="POST">
            <div>
                <label for="Userid">아이디</label>
                <input type="text" id="Userid" name="Userid" placeholder="아이디"/>
            </div>
            <div>
                <label for="password">패스워드</label>
                <input type="password" id="password" name="password" placeholder="패스워드"/>
            </div>
            <button type="submit">로그인</button>
        </form>
    </div>
</div>
</body>